.margin {
    margin: 30px;
}

.loader-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.background-color {
    background-color: #f8fafc;
}

.text-gradient {
    background: linear-gradient(to right, #E9520E, #E59000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}