.profile-card {
    padding-top: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.image {
    height: 150px;
    width: 150px;
    top: -80px;
    border-radius: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.name {
    margin-top: -75px;
    font-size: 20px;
}
