.profile-card {
    margin: 10px;
    padding-top: 80px;
}

.box {
    background: #4648a4;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    padding: 1px;
}

.image {
    height: 150px;
    width: 150px;
    top: -80px;
    border-radius: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.name {
    margin-top: -75px;
    font-size: 20px;
    color:white;
}

.description {
    margin-top: -10px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}